<% form_for(@shop) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rcd %><br />
    <%= f.text_field :rcd %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :station %><br />
    <%= f.text_field :station %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :total_score %><br />
    <%= f.text_field :total_score %>
  </p>
  <p>
    <%= f.label :taste_score %><br />
    <%= f.text_field :taste_score %>
  </p>
  <p>
    <%= f.label :service_score %><br />
    <%= f.text_field :service_score %>
  </p>
  <p>
    <%= f.label :mood_score %><br />
    <%= f.text_field :mood_score %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>